body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}
a {
    text-decoration: underline;
    text-decoration-skip: ink;
}
.section-header {
    border-bottom: 1px solid #e0e0e0;
}
.section-header .title {
    line-height: 1em;
    margin-bottom: 1.5em;
}
.section-header .subtitle {
    line-height: 1.5em;
}
.underline {
    text-decoration: underline;
    text-decoration-skip: ink;   
}
.cover {
    -webkit-box-shadow: 0 10px 20px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 10px 20px 5px rgba(0,0,0,0.3);
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.3);
    margin-bottom: 40px;
    min-height: 150px;
    max-width: 90%;
    min-width: 100px;
}
.books .cover {
    max-width: 200px;
}
.menu-links {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}
.menu-links li {
    margin: 20px;
    display: inline-block;
}
