{% extends "base.html" %}

{% block body %}
<div class="container">
<section class="section section-header is-medium">
  <div class="container">
    <div class="columns">
        <div class="column is-5 is-offset-1">
            <h1 class="title">Move along, nothing to learn here</h1>
            <h2 class="subtitle">Want to see this page made? Let me know!</h2>
            <h2 class="subtitle">Or of course, you can always <a href="/">learn something new</a>.</h2>
        </div>
        <div class="column is-4">
            <a target="_blank" href="http://amzn.to/2xo8hH7"><img class="book-cover" border="0" src="/static/images/books/404-oatmeal.jpg" ></a>
        </div>
    </div>
  </div>
</section>
</div>
{% endblock %}
