{{define "title"}}Best Book To Learn - Find the best book to learn your next skill{{end}}

{{define "body"}}
  <div class="container">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <ul class="menu-links">
              <li><a href="/" style="float: right">Home</a></li>
              <li><a href="/about" style="float: right">About</a></li>
            </ul>
            <div class="content">
              <h1>What is this?</h1>
              <p>This site is a collaborative effort to list the best books for learning specific skills.</p>
              <h1>Can I see the source code?</h1>
              <p>Sure! The source code is available on <a href="https://github.com/productiongo/bestbooktolearn">Github</a>. You can even <a href="https://leanpub.com/productiongo">read the book</a> about how to write a production-ready site like this one, step for step, in Go.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{{end}}